
# BEGIN BackUpWordPress
# Директивы (строки) между `BEGIN BackUpWordPress` и `END BackUpWordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2123769faba187b70e3e2dd6378e3dca
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress