
# BEGIN BackUpWordPress
# Директивы (строки) между `BEGIN BackUpWordPress` и `END BackUpWordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8f5dabc71bd84c1a0b2ac2941bec513e
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress