.product-sorting, .percent
  display: none !important

button
  background: $button_color !important
  color: #000 !important
  border-radius: 4px

// .woocommerce-LoopProduct-link
//   .thumbnail_container
//     padding: 30px 

.mfp-arrow, .mfp-close
  background: none !important
.mfp-close
  color: #B5B5B5 !important

#top
  .post-entry-29
    .woocommerce-MyAccount-navigation
      li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads
        display: none

#top
  .top-nav
    .cart_list.product_list_widget
      overflow-y: scroll
      max-height: 60vh

#top .product div.images .wpgs-image img 
    max-height: 100%
    width: auto
    margin: 0 auto
    height: fit-content

#top .product div.images .zoom_w, #top .product div.images .slick-track .recall_lightbox  
  height: 100%


#top .product div.images .slick-track 
  height: 550px


#top .products .thumbnail_container img 
  max-height: 100%
  width: auto

#top .blog_section_custom
  display: none !important

#top #av_section_1
  background: #F8F8F8


#top #main .shop_table.order_details
  border-collapse: inherit
  padding: 0
  border: solid 1px grey


.html_header_sidebar #top #header.av_always_sticky 
  height: 100%
  overflow-y: scroll


::-webkit-scrollbar 
  width: 5px;

::-webkit-scrollbar-thumb 
  width: 5px
  background: #999
  border-radius: 10px


::-webkit-scrollbar-track 
  border: none
  background-color: transparrent

::-webkit-scrollbar-button 
  display: none




.html_header_sidebar #header .av-main-nav-wrap 
  padding-bottom: 60px


