.product-sorting, .percent
  display: none !important

button
  background: $button_color !important
  color: #000 !important
  border-radius: 4px

// .woocommerce-LoopProduct-link
//   .thumbnail_container
//     padding: 30px 

.mfp-arrow, .mfp-close
  background: none !important
.mfp-close
  color: #B5B5B5 !important