.product-sorting, .percent
  display: none !important

button
  background: $button_color !important
  color: #000 !important
  border-radius: 4px

// .woocommerce-LoopProduct-link
//   .thumbnail_container
//     padding: 30px 

.mfp-arrow, .mfp-close
  background: none !important
.mfp-close
  color: #B5B5B5 !important

#top
  .post-entry-29
    .woocommerce-MyAccount-navigation
      li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads
        display: none

#top
  .top-nav
    .cart_list.product_list_widget
      overflow-y: scroll
      max-height: 60vh

