@import 'parts/variables'
@import 'parts/display'
@import 'parts/layout'
@import 'parts/hardcore'
// @import 'fonts'


@import 'parts/top_nav'
@import 'parts/header'




#top #wrap_all .avia-slideshow-button, #top .avia-button
  border-radius: 3px


#top .home_page_ts .avia-slideshow 
  min-height: 450px
  max-height: 450px
  // height: 450px !important

#avia-menu .menu-item .avia-menu-text 
  display: flex !important
  align-items: center

#breadcrumbs
  padding: 10px 0 11px
  background: inherit
  margin: 0
  span
    font-size: 12px
    color: grey
    a
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 12px !important
    a, strong
      font-family: $ff-montserrat
      font-size: 12px
      color: grey
    .breadcrumb_last
      font-family: $ff-montserrat
      font-size: 12px
      color: grey

#main 
  padding-top: 63px

.slideshow_caption
  padding-left: 0
  padding-right: 0
  width: 48%


.avia-caption-title.slider_title_hp 
  width: 100%
  display: block
  .sl_title 
    line-height: 61px
    font-size: 50px
    padding: 8px 61px 11px 50px
    background: #81A3B5
    display: inline-block
  .sl_subtitle 
    font-size: 35px
    line-height: 35px
    padding: 15px 69px 16px 50px
    background: #A1B8C5
    display: inline-block



#top
  .main_color
    .avia-button
      color: #000
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 20px
      // padding: 13px 65px
      text-transform: none
    .avia-multi-slideshow-button.avia-slideshow-button
      margin-right: 0
      margin-left: 50px

#header
  box-shadow: 4px 0px 10px rgba(56, 85, 119, 0.15)


.html_header_sidebar #header .av-main-nav > li
  margin: 0
  // padding: 1% 13%
  a
    border: none
    padding: 15px 0 15px 30px
    &:hover
      background: #EDFCFF
    .avia-menu-text
      .menu-image-hover-wrapper
        position: relative
        width: 35px
        height: 25px
        display: flex
        justify-content: center
        align-items: center
        img
          // width: 100%
        img.hovered-image
          // background: #26f501
          position: absolute
          margin-left: 0!important
      .menu-image-title-after.menu-image-title 
        padding-left: 40px

      

.html_header_left #main
  border-left: none

html.html_header_sidebar
  .logo
    // border-bottom: none
  #header 
    .av-main-nav
      // padding: 0


.top-nav
  position: fixed
  top: 0
  left: 0
  margin-left: 300px
  z-index: 200
  width: calc( 100% - 300px)
  background: #E5E5E5

  > .container 
    &:after
      display: none
  *
    box-sizing: border-box
  #access-1
    .menu
      ul 
        margin: 0
        &:first-child
          a
            padding-left: 0
        li 
          a
            display: inline-block
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 19px
            padding: 22px 28px
            color: #444
            &:hover
              color: #000
              text-decoration: none
          &.current-menu-item
            a 
              color: #000
              font-weight: bold


#access-2
  display: flex
  align-items: center
  .navigation-accaunt-item
    padding: 0 20px
  .header-phone
    a
      font-family: Open Sans
      font-style: normal
      font-weight: 400
      font-size: 17px
      line-height: 19px
      color: #000
  .header-accaunt 
    a 
      display: flex
      align-items: center
      span 
        &:before
          font-size: 25px
          color: #000
      .label
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 19px
        margin-left: 6px
        color: #000000

  .header-wishlist
    a
      position: relative
      &:before
        font-family: fontello !important
        font-size: 25px
        color: #000000
        content: '\e800'
      .wishlist_products_counter_number
        position: absolute
        top: -21px
        left: 20px
        background: yellow
        line-height: 0
        width: 22px
        height: 22px
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 5px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        color: #000
        display: none
    a.wishlist-counter-with-products
      .wishlist_products_counter_number
        display: flex
  .header-cart
    .cart_dropdown 
      position: relative
      top: 0
      border: none
      li 
        a
          position: relative
          span[data-av_iconfont*=fontello]
            &:before 
              font-family: fontello  !important
              font-size: 26px
              color: #000000
              content: '\e80d'
          .av-cart-counter.av-active-counter
            position: absolute
            top: 11px
            left: 25px
            background: yellow
            line-height: 0
            width: 22px
            height: 22px
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 10px
            line-height: 5px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            color: #000
            
        
#top #main
  .container_wrap 
    border: none
  div .main_color .button
    background: red
    float: none
  .products
    .product
      .inner_product
        border: none
        position: relative
        overflow: visible
        // width: 292px
        .button
          width: 100%
          background: $button_color
          text-align: center
          color: #000
          &:hover
            box-shadow: 0px 0 12px rgba(56,85,119,.2)
            overflow: visible
      &:hover
        z-index: 1
      .product-attributes-wrap
        padding: 7px 15px 15px 15px
      .tinvwl-loop-button-wrapper
        position: absolute
        top: -1px
        right: 6px
        // width: 25px
        // height: 25px
        a 
          &::before
            background:#fff
            border-radius: 50%
            opacity: .5
            display: flex
            align-items: center
            justify-content: center
            padding: 3px
        a.tinvwl-product-in-list
          color: $button_color
          &::before
            background: #888
            opacity: 1
      a
        .inner_product_header
          padding-right: 15px 
          padding-bottom: 8px 
          .inner_product_header_cell
            .category-name
              font-family: Open Sans
              font-style: normal
              font-weight: normal
              font-size: 12px
              line-height: 16px
              color: $decoreted_text
            h2.woocommerce-loop-product__title
              font-family: Open Sans
              font-style: normal
              font-weight: normal
              font-size: 15px
              line-height: 20px
              color: #000000
              display: block
              padding-top: 9px
              padding-bottom: 9px
              padding-right: 16%
      .attribut-title
        font-family: Open Sans
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 16px
        color: #060606
      
      .price
        padding: 9px auto 7px 0
        del 
          .woocommerce-Price-amount.amount
            bdi 
              font-family: Open Sans
              font-style: normal
              font-weight: normal
              font-size: 12px
              line-height: 16px
              color: $decoreted_text
        .woocommerce-Price-amount.amount
          bdi 
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 25px
            color: #000000
      .product-attributes-wrap
        // opacity: 0
        // position: absolute
        // bottom: 0
        // left: 0
        // padding: 10px 15px
        // transform: translateY(100%)
        .product-attributes-list
          .product-attributes-title
            padding-bottom: 4px
            span
              font-family: Open Sans
              font-style: normal
              font-weight: normal
              font-size: 12px
              line-height: 16px
              color: #060606
          .product-size-table
            padding-bottom: 15px
            .product-size
              padding-right: 25px
              .product-size-title
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 16px
                color: $decoreted_text
              .product-size-value
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 16px
                color: #000000
      .avia_cart_buttons 
        padding: 25px
        border: none
        .add_to_cart_button
          background: #FFD523
          padding: 13px 20px
          font-family: Open Sans
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 18px
          display: flex
          align-items: center
          justify-content: center
          span
            display: none
        .show_details_button
          padding: 13px 24px
          border: 0.75px solid #FFD523 
          padding: 13px 20px
          font-family: Open Sans
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 18px
          display: flex
          align-items: center
          justify-content: center
          span
            display: none
        .button-mini-delimiter
          display: none
  .product
    .onsale
      background: url(../img/sale.svg) center right/contain no-repeat
      color: white
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 11px
      padding: 3px
      border-radius: 0 5px 5px 0
      line-height: 13px
      display: flex
      align-items: center
      background-color: inherit
      z-index: 3
      width: 40px
      height: 30px
      top: 3px
      .onsale_text
        margin-left: auto
        margin-right: 3px
      &:before
        content: ''
        background-color: #fff
        width: 5px
        height: 5px
        border-radius: 50%
        position: absolute
        left: 4px

.html_header_sidebar 
  .av-sidebar-social-container 
    position: fixed
    left: 0
    bottom: 0
    background: #fff
    z-index: 555
    max-width: 300px


#top
  .woocommerce-product-gallery__image, #tab-title-description, #tab-title-additional_information
    a
      border: none 
  #tab-description, #tab-additional_information, .variations_form.cart
    border: none 



  .additional_information_tab.active, .woocommerce-tabs .panel,.description_tab.active
    background: #EFEFEF

  
    
  

#top
  .summary.entry-summary
    form.variations_form.cart
      padding: 0
      .single_variation_wrap
        margin: 0
    .compare
      opacity: .5
      display: inline-block
      &:before
        font-family: fontello
        content: '\E80F'
        font-style: normal
        font-weight: 400
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        font-size: 16px
        margin-right: 5px
      &:hover
        opacity: .8

.custom_wishlist_button
  opacity: .5
  display: inline-block
  .tinvwl_add_to_wishlist-text
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 15px


.tinv-wraper.tinv-wishlist
  display: inline-block
  margin-right: 15px
  vertical-align: text-bottom !important

#main
  footer 
    .container
      padding: 13px 50px 
      display: flex
      justify-content: space-around
      &::after
        display: none

#footer
  .container
    .logo
      padding: 8px 40px 40px 40px
      a 
        img 
          // filter: invert(100%)

.product-categories li a
  background: none
  

.icon-home-custom
  &:before
    content: '\e821'
    font-family: entypo-fontello
    font-size: 15px
    color: #808396
    

.widget_shopping_cart_content
  background: #fff
    
#top .main_color 
  .avia-color-theme-color-highlight
    background: $button_color
  .zoom_w
    img 
      border: none
      padding: 1px
  .slick-vertical .slick-slide
    img
      border: none
      padding: 1px

#top
  #ivpa-content .ivpa_attribute
    .ivpa-terms
      span 
        padding: 6px 13px
        line-height: 13px
        font-size: 13px
        border-color: #444
        color: #444
        margin-right: 8px
    span.ivpa_clicked
      background: #444
      color: #fff
      border-width: 1px
      font-weight: 500


.container_breadcrumps
  border-bottom: 1px solid #C4C4C4


    
// TMP

#top #main .products .product .product-attributes-wrap
  position: absolute
  width: 100%
  bottom: 0
  transform: translateY(100%)
  z-index: -1
  opacity: 0
  background: #fff

#top #main .products .product:hover
  z-index: 1

#top #main .products .product:hover .product-attributes-wrap 
  opacity: 1
  z-index: 1

#top #main .products .product .product-box-shasow
  position: absolute
  left: 0
  top: 0
  width: 100%
  /* background: #fff */
  -webkit-box-shadow: 0 0 12px rgba(56,85,119,.2)
  box-shadow: 0 0 12px rgba(56,85,119,.2)
  opacity: 0
  z-index: -1

#top #main .products .product:hover .product-box-shasow
  opacity: 1
  


#top #main .products  .thumbnail_container
  padding: 20px
  height: 200px
  display: flex
  justify-content: center
  align-items: center
  -webkit-transition: none
  -moz-transition: none
  -ms-transition: none
  -o-transition: none
  transition: none



div .products .product
  margin-bottom: 50px



#top 
  .single-product-main-image
    width: 64%
    padding-bottom: 10px
    margin-right: 3%
    .woocommerce-product-gallery
      .wpgs-thumb
        span.slick-arrow
          background: none !important
          &:before
           font-size: 18px
           font-weight: 600
           color: #333 
        .slick-list
          width: 80%
          margin: 0 auto
          .slick-track
            display: flex
            align-items: center
            .thumbnail_image, .thumbnail_image.slick-current, .slick-active
              border: none !important
              box-shadow: none
              img 
                border: none


  .single-product-summary
    width: 33%

#top #ivpa-content .ivpa_title
  margin-top: 10px
  margin-bottom: 2px
  font-size: 14px

#top  #ivpa-content .ivpa-terms
  margin-top: 0


.product-template-default div.product
  position: relative
  margin-bottom: 0
  display: flex
  flex-wrap: wrap
  align-items: start

#top.product-template-default .summary.entry-summary form.variations_form.cart
  padding: 0 30px

#top.product-template-default .single-product-summary
  overflow: visible
  background: #fff
  -moz-box-shadow: 0 6px 16px 0 rgba(0,0,0,.3)
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.3)

#top div.product .product_title
  clear: none
  background: #FFD523
  margin: 0
  padding: 20px 30px 10px 30px

#top.product-template-default #main .template-shop .price
  background: #FFD523
  display: block
  margin: 0
  padding: 5px 30px 20px

#top.product-template-default #main .template-shop .product .onsale
  top: 18px
  width: 55px
  height: 40px
  right: -10px
  font-size: 15px
  line-height: 17px
  -moz-box-shadow: 0 6px 16px 0 rgba(0,0,0,.3)


#top.product-template-default #main .template-shop div form.cart div.quantity
  float: left
  margin: 0 3% 30px 0


#top .template-shop div.product div.summary
  padding-bottom: 30px

#top.product-template-default .template-shop .tinv-wraper.tinv-wishlist, #top.product-template-default .template-shop .compare
  margin: 0
  padding-left: 30px

 
#top.product-template-default .template-shop div div.product .woocommerce-tabs ul.tabs li.active a, #top.product-template-default .template-shop div div.product .woocommerce-tabs ul.tabs li a
  padding: 9px 50px 10px 50px


#top.product-template-default .template-shop div.product .woocommerce-tabs
  width: calc(100% + 100px)
  padding: 0px
  margin: 0 -50px 0 -50px


#top div div.product .woocommerce-tabs .panel
  padding: 30px 50px


#top #main .template-shop .single-product-main-image .sidebar
  display: none



.template-shop .images.wpgs-wrapper
  padding-bottom: 10px


.template-shop div .products .product:hover
  z-index: 1



#top .related.products .product
  /* overflow: hidden */
  -webkit-transition: all .25s
  -moz-transition: all .25s
  -ms-transition: all .25s
  -o-transition: all .25s
  transition: all .25s


#top .related.products .product:hover
  transform: scale(1.04)
  -webkit-box-shadow: 0 0 12px rgba(56,85,119,.2)
  box-shadow: 0 0 12px rgba(56,85,119,.2)
  

#top .related.products .product .product-box-shasow
  display: none !important


#top .related.products .product .product-attributes-wrap
  display: none
  height: 0

#top .woocommerce-variation-price
  display: none

#top .related.products h2, #top .upsells.products h2
  font-size: 24px
  margin-bottom: 20px

#top
  .avia-content-slider-inner
    overflow: visible
    display: flex


/* logo_1 */
/* html.html_header_sidebar .logo
  padding: 9px 10px 9px !important

// html.html_header_sidebar .logo a
  // max-width: 140px !important
//  */
/* logo_2 */

html.html_header_sidebar .logo
  display: flex
  justify-content: center
  align-items: center
  padding: 23px 10px 24px
  // border-bottom: none
html.html_header_sidebar header .logo
  border-bottom: 1px solid #C4C4C4

html.html_header_sidebar .logo a
  max-width: 200px

#top .dp_sale_products_wrapper

#top .dp_sale_products_wrapper .products
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  li 
    width: 18%
    &:nth-child(5n+5)
      margin-right: 0
      


#top .dp_sale_products_wrapper .products .product:nth-child(4)
  margin-right: 1% !important

#top .dp_sale_products_wrapper .products .product:nth-child(5)
  margin-right: 0 !important


#top div .flex_column
  overflow: hidden
  .product
    overflow: hidden

#top div .flex_column:hover
  z-index: 2
  overflow: visible
  .product
    overflow: visible
  

#top .home .container_breadcrumps
  display: none

#top .avia-content-slider
  overflow: visible
#top div#wrap_all .dp_border .avia-button.avia-color-dark 
  /* border-width: 1px */
  /* border-color: #333 */
  text-transform: uppercase
  font-family: 'montserrat', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif
  font-size: 16px
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -ms-transition: all .2s
  -o-transition: all .2s
  transition: all .2s

#top div#wrap_all .dp_border .avia-button.avia-color-dark:hover 
  /* border-color: #FED839 */

#top div .products .dp_border  .product
  width: 19%
  
#top #footer
  z-index: 0

#top
  .avia-slideshow-arrows 
    a:before
      background: rgba(0,0,0,0.5)
      border-radius: 4px   
      font-size: 20px 

#top
  .home_page_ts
    .avia-slideshow-arrows
      display: none
    .avia-slideshow-dots
      display: flex
      justify-content: center
      margin-top: auto
      height: auto
      margin-bottom: 15px
      z-index: 199
      a 
        position: relative !important
        display: block
        background: #A1B8C5
        width: 23px
        height: 4px
        bottom: auto
        top: auto
        left: auto
        right: auto
        padding: 0
        margin: 3px
        border: none
        border-radius: 50px
      a.active 
        width: 50px
        background: #81A3B5
        
  
        
#top
  .av-control-minimal .avia-slideshow-dots a
    opacity: 1 !important

#top.home
  .container_breadcrumps
    display: none

#top
  form.cart
    .woocommerce-variation-add-to-cart
      .ivpa-register
        margin-bottom: 20px
      .single_add_to_cart_button
        margin-bottom: 15px
        text-align: center
        &:hover
          background: darken($button_color, 10%) !important
          box-shadow: 4px 0 10px rgba(56,85,119,.15) 
  .tinv-wraper
    .tinvwl_add_to_wishlist_button
        opacity: .8
        
.av-icon-on-hover .avia_button_icon
  overflow: visible 
  
.av-post-metadata-revisions-count:before, .av-post-metadata-published-date:before
  font-family: 'entypo-fontello'
  margin-right: 10px

.av-post-metadata-revisions-count:before
  content: '\e826'

.av-post-metadata-published-date:before
  content: '\e862'

.news-thumb img, .news-thumb img
  width: 100%
  height: 100%

.news-thumb
  border-style: none
  height: 40px
  width: 40px
  margin-top: 8px


.av-sort-by-term 
  display: flex
  margin-bottom: 20px

.av-masonry-sort a
  text-decoration: none
  padding: 0px 10px
  border: 1px solid #FFD523 !important
  border-radius: 4px




.av-masonry-sort a.active_sort
  background: #FFD523
  -webkit-box-shadow: 4px 0 10px rgba(56,85,119,.15)
    box-shadow: 4px 0 10px rgba(56,85,119,.15)


.av-masonry-sort .text-sep
  opacity: 0


#top .woocommerce-variation-price 
  display: block !important
  position: absolute
  width: 100%
  left: 0
  top: -49px
  z-index: 9999999

#top .product div.images img
  cursor: pointer !important

img.zoomImg
  display: none !important



@media screen and ( max-width: 1439px )

  #footer.footer_color
    .container
      .logo
        padding: 0
        margin-top: 4px
      .widget
        .widgettitle
          font-size: 12px
        .product-categories li a
          padding: 0px 
        .textwidget 
          p 
            font-size: 12px

  #top
    .avia-slideshow-arrows
      a
        width: 40px
        height: 40px
        &::before
          font-size: 14px
          line-height: 40px



  #top
    .top-nav
      .container
        #access-1
          #menu-navigacziya-po-straniczam
            .menu-item
              a 
                padding: 18px 6px !important
                font-size: 12px
        #access-2
          align-items: center
          .header-cart .cart_dropdown li a .av-cart-counter.av-active-counter
            top: 23px
            height: 5px
            width: 5px
            padding: 5px
            font-size: 6px
          .header-wishlist a .wishlist_products_counter_number
            top: -7px
            height: 5px
            width: 5px
            padding: 5px
            font-size: 6px
          .navigation-accaunt-item
            margin: auto 0
            line-height: 15px
            padding: 0 6px
            &.header-phone 
              a 
                font-size: 12px
            &.header-accaunt
              a
                span  
                  font-size: 12px
                  &:before
                    font-size: 20px
            &.header-wishlist
              a 
                &::before
                  font-size: 20px
            &.header-cart
              a 
                span
                  &::before
                    font-size: 20px

  
  #top  
    .avia-caption-title.slider_title_hp
      line-height: 0em 
      .sl_title
        font-size: 29px
        padding: 8px 39px 11px 50px
        line-height: 50px
      .sl_subtitle
        font-size: 24px
        padding: 8px 39px 11px 50px
        line-height: 30px


  #top 
    #wrap_all
      .slideshow_caption
        width: auto
        .slideshow_align_caption
          .avia-slideshow-button, .avia-button
            font-size: 12px
            padding: 10px
            margin-left: 50px
            margin-top: 15px
            &.avia-slideshow-button-2
              margin-left: 20px 

  #top
    #main
      .av-special-heading-tag
        font-size: 26px !important
      .products
        .product
          width: 24%
          &:nth-child(4)
            margin-right: 0 !important
          &:nth-child(5)
            display: none
          .thumbnail_container
            height: 155px
          .inner_product_header
            padding: 10px
            .woocommerce-loop-product__title
              font-size: 10px
              padding-top: 6px
              padding-bottom: 7px
            span.onsale
              width: 35px
              height: 25px
              .onsale_text
                font-size: 9px
                margin: 6px 3px auto auto
            .price
              bdi
                font-size: 15px








              
   



@media screen and ( max-width: 1023px )


  #top
    .top-nav
      .container
        justify-content: center
        #access-1
          display: none
        #access-2
          

@media screen and ( max-width: 989px )

  .html_header_sidebar #header .av-main-nav>li a
    padding: 12px 0
  .html_header_sidebar #header .av-main-nav>li a .avia-menu-text .menu-image-title-after.menu-image-title
    padding-left: 10%

  #top
    .top-nav
      width: calc(100% - 27%)
      margin-left:  27%